@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #134e4a;
  --color-primary-hover: #115e59;
  --color-secondary: #4338ca;
  --color-secondary-hover: #3730a3;
  --color-bg: #f8fafc;
  --color-bg-dark: #0a0a0a;
  --default-font-family: 'Outfit', var(--font-sans);
}

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 68px);
  }
  .toggle-btn {
    & > div::before {
      translate: 0 0;
      rotate: 45deg;
    }
    & > div::after {
      translate: 0 0;
      rotate: -45deg;
    }
    & > div {
      background-color: transparent;
    }
  }
}

/* Widescreen */
@media (min-aspect-ratio: 3/2) {
  .widescreen\:section-min-height {
    min-height: calc(100vh - 68px);
  }
}

/* Tallscreen */
@media (max-aspect-ratio: 13/20) {
  .tallscreen\:section-min-height {
    min-height: calc(100vh - 68px);
  }
}

@keyframes open-menu {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes close-menu {
  0% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(0);
  }
}

@layer utilities {
  .animate-open-menu {
    animation: open-menu 0.5s ease-in-out forwards;
  }
  .animate-close-menu {
    animation: close-menu 0.5s ease-in-out forwards;
  }
}

@keyframes typing-animation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typing-cursor {
  animation: typing-animation 1.5s step-start infinite;
}

.nav-link-mobile {
  @apply w-full py-6 text-center text-black hover:opacity-90 dark:text-white;
}

.project-btn-link {
  @apply bg-secondary hover:bg-secondary-hover flex flex-row items-center rounded-lg px-6 py-2 font-semibold text-nowrap text-white shadow-lg transition duration-300;
}

.separator {
  @apply mx-auto w-1/2 bg-black dark:bg-white;
}

.tech-stack-item {
  @apply rounded-lg border border-slate-300 px-4 py-2 text-center dark:border-slate-600;
}

.toggle-btn {
  @apply [&>div]:bg-transparent [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div::before]:translate-y-0 [&>div::before]:rotate-45;
}
