*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Open Sans', 'Arial', sans-serif; */
}

:root {
  --highlight-color: #134e4a;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 68px);
  }
}

#typing-animation-div {
  animation: typing-animation 1.5s step-start infinite;
}

p {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

@keyframes typing-animation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
