@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --highlight-color: #134e4a;
}

.highlight-color {
  background-color: var(--highlight-color);
}

#typing-animation-div {
    animation: typing-animation 1.5s step-start infinite;
}

@keyframes typing-animation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
